<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wanderer Notes</title>
    <link rel="stylesheet" href="../../assets/stylesheets/styles.css">
</head>
<body id="connectionPage">

    <%- include('partials/header.ejs') %>
    
	<aside class="rsvpa">
	    <div class="buttony">
            
            <% if(session === undefined){ %>
            <p>Are you going?</p>
            <form action ="/login">            
            <button style="cursor:pointer; color:blue"  onclick="window.location.href = '/login'">Yes</button>
            <button style="cursor:pointer; color:orange"  onclick="window.location.href = '/login'">No</button>
            <button style="cursor:pointer; color:green"  onclick="window.location.href = '/login'">Maybe</button>
            </form>
            <% } %>
            <% if(session != undefined){ %>
                <% if(session.userId !== data.userId) { %>
                    <p>Are you going?</p>
                <form action="/connections/update" method="post">
                    <input type="hidden" name="connectionId" value="<%= data.connectionId %>"/>
                    <button type="submit" style="cursor:pointer; color:blue" name="action" value="maybe">&nbsp;Maybe</button>
                    <button type="submit" style="cursor:pointer; color:orange" name="action" value="yes">&nbsp;Yes</button>
                    <button type="submit" style="cursor:pointer; color:green" name="action" value="no">&nbsp;No</i></button>
                </form>
                <% } %>
                <!-- <button style="cursor:pointer; color:blue"  onclick="window.location.href = '/userprofile/rsvp?connectionId=<%= data.connectionId %>&rsvp=Yes'">Yes</button>
                <button style="cursor:pointer; color:orange"  onclick="window.location.href = '/userprofile/rsvp?connectionId=<%= data.connectionId %>&rsvp=No'">No</button>
                <button style="cursor:pointer; color:green"  onclick="window.location.href = '/userprofile/rsvp?connectionId=<%= data.connectionId %>&rsvp=Maybe'">Maybe</button> -->
                <% } %>
		</div>
    </aside>
    
    <main>
	    <section>
            <h2 class="center-text"><%= data.connectionName %></h2>
            <p class="center-text"><img src="../assets/images/pic3.jpeg" alt="logo" height= "150" width="150"> </p>
            <br>
          <h4 id="hosted-by" class="event-details">Hosted by: <%= data.hostedBy %></h4>
          <p class="event-details"><%= data.date%><br>
        <%= data.time%><br><%= data.location%></p>
         
            
                <p class="event-details">
                    <strong>Travel Event Details</strong><br>
                    <%= data.connectionDetails %>
                 </p>
            
        </section>	   
    </main>
    
    <%- include('partials/footer.ejs') %>
    
   
</body>
</html>