<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wanderer Notes</title>
    <link rel="stylesheet" href="../../assets/stylesheets/styles.css">
</head>

    <%- include('partials/header.ejs') %>

    <main>
	
        <section>
        <% for(i=0;i < categories.length;i++){ %>
                <h2> <%= categories[i] %></h2>
                 <ul class="Adv">
                    <% for(j = 0; j< data.length;j++) { %>
                        <% if(data[j].connectionTopic == categories[i]) { %> 
                            <li><a href = "/connections/connection?id=<%= data[j].connectionId%>"> <%=data[j].connectionName%> </a></li>
                         <%}%>
                    <% } %>     
                 </ul>
            <% } %>
            </section>

    </main>
    
    <%- include('partials/footer.ejs') %>
   
</body>
</html>